<div class="container main">
  <div class="container-center">
    <span class="stream-round">
      <amexio-image [imagePath]="'./assets/images/stream.svg'" [cClass]="'stream-img'" [tooltipMessage]="'Click Here'" (click)="stream()"></amexio-image>
    </span>
  </div>
  <div class="container-center">
    <span class="arrows"></span>
  </div>
  <div class="container-center">
    <span class="avatar-round" *ngIf="!isCam">
      <amexio-image [imagePath]="'./assets/images/avatar.svg'" [cClass]="'avatar-img'" [tooltipMessage]="'Image'"></amexio-image>
    </span>
    <span class="container-video" *ngIf="isCam">
      <ack-webcam [(ref)]="webcam" [options]="options" (onSuccess)="onCamSuccess($event)" (onError)="onCamError($event)"></ack-webcam>
    </span>
  </div>
</div>