<div class="container main">
  <div class="container-center">
    <span class="stream-round">
      <amexio-image [imagePath]="'./assets/images/stream.svg'" [cClass]="'stream-img'" [tooltipMessage]="'Click Here'" (click)="stream()"></amexio-image>
    </span>
  </div>
  <div class="container-center">
    <span class="arrows"></span>
  </div>
  <div class="container-center">
    <span class="avatar-round" *ngIf="!isCam">
      <amexio-image [imagePath]="'./assets/images/avatar.svg'" [cClass]="'avatar-img'" [tooltipMessage]="'Image'"></amexio-image>
    </span>
    <span class="container-video" *ngIf="isCam" (click)="capture()">
      <video id="video" width="480" height="320" preload autoplay loop muted></video>
      <canvas id="canvas" width="480" height="320"></canvas>
    </span>
  </div>
</div>