<div class="container main">
  <div class="row chatbox-wrapper">
    <div class="col-7"></div>
    <div class="col-4 chatbot">
      <div class="chatbot-logo">
        <a href="">
          <img class="logo" src="../assets/images/smartbot.svg" alt="smartbot"> Smartbot
        </a>
      </div>
      <div class="chatbot-chat">
        k hv d  iuweuev hew e neg    wrjgnwrjng  mw gkwjengkjw na.n.  .wegkkng.wk.en gw  , wglkjwbkgwkl grwkj ng
         rgmjrwkw
         dnvkjwe 
          vjwkvw  kwenvnwe 
           I love you, Mamtad

           vs div j fnefkf ljl s div

           /* height: 71%; */

           

            wg,wnglkw
            mvlkw

             wgwgwlkg

           sbvs 
           k wenlwen
            kwenlnwelk
             rgnkjngrng
             n gjrwngwr
             n wgknwr

             The title of at least five films spanning 1936 to 1966
             Mamta (1936 film), see Bollywood films of the 1930s
             Mamta (1942 film), see Bollywood films of 1942
             Mamta (1952 film), see Bollywood films of 1952
             Mamta (1965 film) , see Bollywood films of 1965
             Mamta (1966 film)
             Mamta (TV series), a serial appearing on the Indian Zee TV satellite television network
             Mamta, Tibet
             Mamta is also a female given name and may refer to:
             
             Mamta Kulkarni, a former Bollywood actress
             Mamta Mohandas, a South Indian actress
             Mamta Sagar, Indian poet and playwright
             Mamata Shankar, a Bengali actress and classical dancer
             Mamata Banerjee, a Bengali politician
             Disambiguation icon	This disambiguation page lists articles associated with the title Mamta.
             If an internal link led you here, you may wish to change the link to point directly to the intended article.
             Mamta Nukkad tv serial actress
             Categories: Disambiguation pagesDisambiguation pages with given-name-holder lists
             Navigation menu
             Not logged inTalkContributionsCreate accountLog inArticleTalkReadEditView historySearch
             
             Search Wikipedia
             Go
             Main page
             Contents
             Featured content
             Current events
             Random article
             Donate to Wikipedia
             Wikipedia store
             Interaction
             Help
             About Wikipedia
             Community portal
             Recent changes
             Contact page
             Tools
             What links here
             Related changes
             Upload file
             Special pages
             Permanent link
             Page information
             Wikidata item
             Cite this page
             Print/export
             Create a book
             Download as PDF
             Printable version
             Languages
             Add links
             This page was last edited on 10 August 2017, at 06:35.
             Text is available under the Creative Commons Attribution-ShareAlike License; additional terms may apply. By using this site, you agree to the Terms of Use and Privacy Policy. Wikipedia® is a registered trademark of the Wikimedia Foundation, Inc., a non-profit organization.
      </div>
      <div class="chatbot-input">
        <amexio-text-input name="name" [placeholder]="'Ask something...'" [iconFeedBack]="false" [hasLabel]="false">
        </amexio-text-input>
        <span class="mic">
          <i class="fa fa-microphone fa-lg" aria-hidden="true"></i>
        </span>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>