<div class="container main">
  <div class="row chatbox-wrapper">
    <div class="col-7"></div>
    <div class="col-4 chatbot">
      <div class="chatbot-logo">
        <a href="">
          <img class="logo" src="../assets/images/smartbot.svg" alt="smartbot"> Smartbot
        </a>
      </div>
      <div class="chatbot-chat">
        <table class="chat-table">
          <tbody>
            <tr>
              <td class="chat">
                <!-- TODO: -->
                <div class="user-request">lkdlc</div>
                <div class="server-response">What was that?</div>
                <!-- END -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="chatbot-input">
        <amexio-text-input name="name" [placeholder]="'Ask something...'" [iconFeedBack]="false" [hasLabel]="false">
        </amexio-text-input>
        <span class="mic">
          <i [class.active]="isMicActive" class="fa fa-microphone fa-lg" aria-hidden="true" (click)="startMic($event)"></i>
        </span>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>