<div class="container main">
  <div class="row chatbox-wrapper">
    <div class="col-7"></div>
    <div class="col-4 chatbot">
      <div class="chatbot-logo">
        <a href="">
          <img class="logo" src="../assets/images/smartbot.svg" alt="smartbot"> Smartbot
        </a>
      </div>
      <div class="chatbot-chat" id="result-wrapper" #resultWraper>
        <table class="chat-table">
          <tbody>
            <tr>
              <td class="chat">
                <div [ngClass]="message.type" *ngFor="let message of conversation">{{message.text}}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="chatbot-input">
        <input id="chatbot-input" [(ngModel)]="query" #speech [placeholder]="'Ask something...'" (keyup.enter)="chatbot(speech.value)"
          (click)="chatbot(speech.value)">
        <span class="mic">
          <i id="chatbot-mic" class="fa fa-microphone fa-lg" aria-hidden="true" (click)="microphone()"></i>
        </span>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>