.chatbox-wrapper {
  margin: 1rem;
}

.chatbot {
  padding: 0;
  box-shadow: 0 19px 147px -41px rgba(0,0,0,.75);
  background: #fff;
  height: 75vh;
  position: relative;
}

.chatbot-logo {
  height: 4.5rem;
  padding: 1.25rem;
  background-color: #2b303e;
}

.logo {
  width: 2rem;
}

.chatbot-logo a {
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
}

.chatbot-logo img {
  margin-right: .5rem;
}

.chatbot-chat {
  width: 100%;
  overflow-y: auto;
  position: absolute;
  bottom: 3.5rem;
  top: 4.5rem;
}

.chatbot-input {
  position: absolute;
  bottom: 0;
  height: 3.5rem;
  border-top: 1px solid lightgray;
  background-color: white;
  width: 100%;
}

.chatbot-input input {
  width: 100%;
  padding: .375rem 3rem .375rem .75rem;
  border: 0;
  height: 3.5rem;
  line-height: 1.5rem;
  color: #495057;
}

.chatbot-input .fa-microphone {
  position: absolute;
  cursor: pointer;
  color: #99D2DA;
  right: 17.5px;
  top: 20px;
}

.chatbot-input .fa-microphone.active {
  color: #FF6236;
}

.chat-table {
  width: 100%;
  min-height: 100%;
  height: 100%;
}

.chat-table .chat {
  vertical-align: bottom;
}

.chat .request {
  padding: 15px 25px;
  border-radius: 3px;
  border: 1px solid #eee;
  margin-bottom: 5px;
  font-size: 16px;
  clear: both;
  background-color: #efefef;
  float: left;
  margin-right: 15px;
  margin-top: 15px;
  margin-left: 15px;
}

.chat .response {
  padding: 15px 25px;
  border-radius: 3px;
  border: 1px solid #eee;
  margin-bottom: 5px;
  font-size: 16px;
  clear: both;
  color: white;
  background-color: #A5D175;
  float: right;
  margin-top: 15px;
  margin-right: 15px;
  margin-left: 15px;
}