body {
  background-color: #F4F5F5 !important;
}

.bg-inverse {
  background-color: #2b303e!important;
}

.stream-img {
  width: 4rem;
  transition: all .2s ease-in-out;
}

.stream-img:hover {
  transform: scale(1.25);
}

.avatar-img {
  width: 10rem;
  transition: all .2s ease-in-out;
}

.avatar-img:hover {
  transform: scale(1.1);
}

#video, #canvas {
  position: absolute;
  left: -50%;
  top: -20%;
}